{% extends 'base.html' %}

{% block content %}
    <h1 class="font-sans">{{ app_name }}</h1>
    <h5>{{ name }}</h5>
    <h5>{{ class }}</h5>
    {% if last_entry %}
    <div id="message">
        Kamu menyimpan {{last_entry.amount}} {{last_entry.name}} pada Warehouse
    </div>
    {% endif %}
    <table>
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Description</th>
        </tr>
        {% for item in items %}
            <tr>
                <td>{{item.name}}</td>
                <td>{{item.amount}}</td>
                <td>{{item.description}}</td>
            </tr>
        {% endfor %}
    </table>
    
    <br />
    
    <a href="{% url 'main:create_item' %}">
        <button>
            Add New Product
        </button>
    </a>
{% endblock content %}