{% extends 'base.html' %}

{% block header %}
<header>
    <nav class="header bg-white border-b">
        <div class="container mx-auto flex justify-between items-center md:py-6 py-3 px-4 md:px-0">
            <a href="/" class="leading-tight text-xl md:text-3xl text-blue-500 font-bold">
                <p>Warehouse<span class="hidden md:inline"> </span><br class="md:hidden">Inventory</p>
            </a>
            <div class="flex items-center md:gap-4 gap-2">
                <div class="flex flex-col items-end">
                    <p class=" -mb-1">
                        <span class="hidden md:inline">Welcome, </span>
                        <span class="text-xs md:text-base font-medium">{{name}}</span>
                        <span class="hidden md:inline">!</span>
                    </p>
                    <p class="text-xs">{{class}}</p>
                    <p class="hidden md:block text-xs">Last login: {{last_login}}</p>
                </div>
                <a class="hidden md:block transition-color ease-in-out duration-100 hover:text-blue-500 pb-1" href="{% url 'main:logout' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9" />
                    </svg>
                </a>
                <div id="user-dropdown" class="md:hidden relative float-right pt-2">
                    <button onClick="showDropdown()">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                        </svg>                      
                    </button>
                    <ul id="dropdown-content" class="md:hidden hidden absolute right-0 rounded-lg z-1 shadow-md bg-white">
                        <li class="hover:bg-gray-100 rounded-t-lg">
                            <a class="block whitespace-no-wrap w-40 border-b text-sm py-3 px-4" href="/create-item">Add new item</a>
                        </li>
                        <li class="hover:bg-gray-100 rounded-b-lg">
                            <a class="block whitespace-no-wrap w-40 text-sm py-3 px-4" href="/logout">Log out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>         
    </nav>
</header>
{% endblock header %}

{% block content %}
<div class="container flex flex-col mx-auto">
    <div class="flex items-center justify-between md:mt-8">
        <div>
            {% if messages %}
            {% for message in messages %}
                <p class="text-base font-medium text-center">{{ message }}</p>
            {% endfor %}
            {% endif %}
        </div>
        <a class="hidden md:block" href="{% url 'main:create_item' %}">
            <button class="bg-blue-500 hover:bg-blue-700 transition-color ease-in-out duration-100 text-white rounded-full py-3 px-10">Add new item</button>
        </a>
    </div>
    <div class="grid-cols-1 md:grid-cols-3 grid gap-2 md:gap-4 md:mt-8 mt-2 px-2 pb-12 md:px-0">
        {% for item in items %}
        <div class="h-72 md:h-80 bg-white border-2 border-gray-200 rounded-lg p-6">
            <div class="flex flex-wrap justify-between items-center md:pb-4 pb-3">
                <p class="text-xl md:text-2xl font-bold">{{item.name}}</p>
                <div class="flex font text-sm md:text-base items-center text-lg md:gap-6 gap-4">
                    <div class="flex amount-modifier rounded-lg border-2 items-center gap-4 md:px-2 px-1 py-1">
                        <a class="dec-btn rounded-full text-blue-500 transition-color ease-in-out duration-100 md:hover:bg-white hover:bg-gray-300 md:hover:text-blue-500" href="dec/{{item.pk}}">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
                            </svg>                                          
                        </a>
                        <p class="amt pt-0.5 md:pt-0">{{item.amount}}</p>
                        <a class="rounded-full text-blue-500 transition-color ease-in-out duration-100 md:hover:bg-white hover:bg-gray-300 md:hover:text-blue-500" href="inc/{{item.pk}}">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
                            </svg>                                                  
                        </a>
                    </div>
                    <a class="transition-color ease-in-out duration-100 hover:text-red-500" href="delete/{{item.pk}}">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                        </svg>                      
                    </a>
                </div>
            </div>
            <p class="text-sm md:text-base">{{item.description}}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}