{% extends 'base.html' %}

{% block header %}
<header>
    {% include 'navbar.html' %}
</header>
{% endblock header %}

{% block content %}
<div class="container flex flex-col mx-auto">
    <div class="flex items-center md:justify-between justify-center mt-2 md:mt-8">
        <div>
            {% if messages %}
            {% for message in messages %}
                <p class="text-sm md:text-base font-medium text-center">{{ message }}</p>
            {% endfor %}
            {% endif %}
        </div>
        <a class="hidden md:block" href="{% url 'main:create_item' %}">
            <button class="bg-blue-500 hover:bg-blue-700 transition-color ease-in-out duration-100 text-white rounded-full py-3 px-10">Add new item</button>
        </a>
    </div>
    <div id="items-display" class="grid-cols-1 md:grid-cols-3 grid gap-2 md:gap-4 md:mt-8 mt-2 px-2 pb-12 md:px-0">
    </div>
</div>
{% endblock content %}